<html>
<style type="text/css">
	p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 18.0px Helvetica}
	p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 24.0px Helvetica}
</style>
<body>
<h1 align="center"><p class="p2">显示选中的 Schedule 详细内容</h1>
<table border="0" align="center" width = 1386>
<tr>
<td>Projet:<lable>&nbsp;{{ seleckproject }}</lable></td>
<td align="right">
<table>
<form method="get"><input style="width:88px;" type="submit" value="Project Panel" /></form>
&nbsp;
<form method="get"><input style="width:88px;" type="submit" value="Project Detail" /></form>
</table>
</td>
</tr>
</table>
<hr size="1" with="100%" color="black" noshade="noshade" />
<table border="0" align="center" width = 1386>
<tr>
<td width="346"align="left">Event:<lable>&nbsp;{{ seleckschedule }}</lable></td>
<td width="246"></td>
<td width="446" align="left">Event Type:<lable>&nbsp;</lable></td>
<td width="346" align="right">
<table>
<form method="get"><input style="width:88px;" type="submit" value="Previous Env" /></form>
&nbsp;
<form method="get"><input style="width:88px;" type="submit" value="Next Evt" /></form>
</table>
</td>
</tr>
<tr>
<td width="346"align="left">Start Date:<lable>&nbsp;</lable></td>
<td width="246"></td>
<td width="446" align="left">End Date:<lable>&nbsp;</lable></td>
<td width="346" align="right">
</td>
</tr>
<tr>
<td width="346"align="left">Completed:<lable>&nbsp;</lable></td>
<td width="246"></td>
<td width="446"></td>
<td width="346" align="right">
<table>
<form method="get"><input style="width:88px;" type="submit" value="Add Tests" /></form>
&nbsp;
<form method="get"><input style="width:88px;" type="submit" value="Open Tests" /></form>
</table>
</td>
</tr>
</table>
</body>
</html>