<!DOCTYPE HTML>
<style type="text/css">
	p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 14.0px Helvetica}
	summary {font: 14.0px Helvetica}
	details {font: 14.0px Helvetica}
	form {font: 14.0px Helvetica}
	input {font: 14.0px Helvetica}
	option {font: 14.0px Helvetica}
	a {font: 14.0px Helvetica}
</style>
{% extends "RadarWebServicesbase.html" %}
{% block title %}{{ project }}{% endblock %}
{% block content %}
<script type="text/javascript" src="/static/admin/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/admin/js/highcharts.js"></script>
<script type="text/javascript" src="/static/admin/js/modules/exporting.js"></script>
<script type="text/javascript">

</script>
<script type="text/javascript">
var aa = ["aaaa", "cccc"];
Highcharts.setOptions({colors:['#7EB6EA', '#EF5E81', '#93EB82', '#F5A362', '#8188E6', '#434348', 'blue', 'green', 'yellow',]});
$(function () {
        $('#containercolumnbasic').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: ' '
            },
            subtitle: {
                text: ' '
            },
            xAxis: {
                categories: {{ kcolumnbasic.Language | safe }}
            },
            yAxis: {
                min: 0,
                title: {
                    text: ' '
                }
            },
            tooltip: {
                shared: true,
                useHTML: true,
                snap: 0,
                hideDelay: 500,
                //positioner:function(){
                //return {x:0,y:0};
                //},
                //followPointer: False,
                formatter:function (){
                //alert(this);
                return gettooltip(this)//this.point.x
                },

            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Translation',
                data: {{ kcolumnbasic.Translation | safe }}    
            }, {
                name: 'HI/Layout',
                data: {{ kcolumnbasic.Layout | safe }}
    
            }, {
                name: 'AutoLoc',
                data: {{ kcolumnbasic.AutoLoc | safe }}
    
            }, {
                name: 'LocFunctional',
                data: {{ kcolumnbasic.AutoLoc | safe }}
    
            }, {
                name: 'TransEngineering',
                data: {{ kcolumnbasic.AutoLoc | safe }}
    
            }, {
                name: 'Others',
                data: {{ kcolumnbasic.Others | safe }}
    
            },]
        });
    });
    
function gettooltip(ll)
{
	//alert(ll);
	var radarurls = {{ radarurls | safe }},
	namemap = {"LocFunctional":"LocFunc","AutoLoc":"AutoLoc","Translation":"Translation","HI/Layout":"Layout","TransEngineering":"Engineer","Others":"Others"},
	lan = ll.x,
	ps = ll.points,
	re = '<span style="font-size:10px">'+ lan +'</span><table>';
	langindex = radarurls["Language"].indexOf(lan, 0);
	for (var i = 0; i < ps.length; i++) {
		var series = ps[i].series
		if(ps[i].y > 0){
			re = re + '<tr><td style="color:' + series.color + ';padding:0">' + series.name + ':</td>' +
                    '<td style="padding:0"><b><a href="' +radarurls[namemap[series.name]][langindex]+ '">' + ps[i].y + '</a></b></td></tr>';
        }
        else
        {
			re = re + '<tr><td style="color:' + series.color + ';padding:0">' + series.name + ':</td>' +
                    '<td style="padding:0"><b>' + ps[i].y + '</b></td></tr>';
        }
	}
	return re;
}
</script>

<form name="input" action="/RadarWebServiceskeywords/" method="get">
From: <select name="startweek">
{% for w in weeksList %}
{% if w == startweek %}
<option value="{{ w }}" selected="selected">{{ w }}</option>
{% else %}
<option value="{{ w }}">{{ w }}</option>
{% endif %}
{% endfor %}
</select>
to <select name="endweek">
{% for w in weeksList %}
{% if w == endweek %}
<option value="{{ w }}" selected="selected">{{ w }}</option>
{% else %}
<option value="{{ w }}">{{ w }}</option>
{% endif %}
{% endfor %}
</select>
<input type="submit" value="View" />
</form>
<br>
<div id="containercolumnbasic" style="min-width: 500px; height: 300px; margin: 0 auto"></div>
{% endblock %}
